@tailwind base;
@tailwind utilities;
@tailwind components;

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/dm-sans-v15-latin-regular.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/dm-sans-v15-latin-500.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./fonts/dm-sans-v15-latin-600.woff2") format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "DM Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/dm-sans-v15-latin-700.woff2") format("woff2");
}
@font-face {
  font-display: swap;
  font-family: "Unna";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/unna-v23-latin-regular.woff2") format("woff2");
}

@layer components {
  .site-container {
    @apply max-w-7xl w-full mx-auto px-5 md:px-10 lg:px-12;
  }
  html,
  body {
    @apply h-full;
  }
  #root {
    @apply flex flex-col h-full;
  }
  main {
    @apply grow;
  }
  .hero-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("./assets/hero-section-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center left;
  }
  .content-item {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .card-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("./assets/footer-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .item-hover {
    @apply hover:text-light-green focus:outline-none focus:border-dashed focus:border-white focus:border-[1px];
  }
  .category-card {
    @apply flex flex-col items-center justify-center;
  }
  .customers-title::after {
    content: "";
    position: absolute;
    bottom: -30%;
    left: 50%;
    right: 50%;
    border: 1px solid #5c9735;
    width: 50px;
    transform: translate(-50%, -50%);
  }
  .about-line {
    border: 0.5px solid #5c9735;
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
  }
  .about-text {
    @apply text-gray text-[15px] mb-[14px];
  }
  .contact-card {
    @apply flex flex-col items-center justify-center md:flex-row md:justify-start md:gap-4;
  }
  .contact-input {
    outline: none;
    border: 1px solid #ddd;
  }
  .cursor-link{
    @apply hover:text-light-green cursor-pointer
  }
  .social-line {
    @apply border-b-[1px] pb-10 border-gray border-opacity-25 md:border-none;
  }
  .single-plant {
    background-image: url("./assets/single-plant-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
  }
  .single-plant__div {
    @apply flex items-center gap-2 border-b-[1px] border-gray border-opacity-35 pb-4;
  }
  .single-plant_text {
    @apply text-gray text-[14px];
  }
  .single-plant__link {
    @apply text-brequetty-gray text-[14px] py-[7px] font-bold;
  }
  .shopping-bag{
    display: none;
  }
  .plant-card:hover .shopping-bag {
    display: flex;
  }
  .single-plant__text{
    @apply text-[14px] text-gray mb-[14px]
  }
  .table-td{
    @apply flex items-center justify-between px-[14px] py-2 border-t-[1px] border-gray border-opacity-30
  }
  .table-td__text{
    @apply text-[14px] text-gray font-medium
  }

  /* LOADER */
  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background: rgba(0, 0, 0, 0.308);
    backdrop-filter: blur(3px);
  }
  .loader {
    width: 48px;
    height: 48px;
    display: inline-block;
    position: relative;
  }
  .loader::after,
  .loader::before {
    content: "";
    box-sizing: border-box;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    animation-delay: 1s;
  }

  @keyframes animloader {
    0% {
      transform: scale(0);
      opacity: 1;
    }
    100% {
      transform: scale(1);
      opacity: 0;
    }
  }
}
